/* 改变主题色变量 */
$--color-primary: #4b9df3;

/*
 * 定义常用变量
 */

$blue: #032c59;
$light-blue: #20a0ff;
$red: #C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$orange: #fd5337;
$white: #ffffff;
$color-eee: #eeeeee;
$color-999: #999999;
$color-666: #666666;
$color-333: #333333;
$color-222: #222222;

//sidebar
$menuBg:#304156;
$subMenuBg:#2C75D4;
$menuHover:#2C75D4;

//背景色
$bgGreey: #F5F6FA;


